* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, #421BAE, #8F6FF1, #65B2FF, #1C84FB);
    color: white;
}

header div nav {
    display: flex;
    padding: 0 50px;
    gap: 20px
}

header div nav a {
    text-decoration: none;
    padding: 0;
    color: white;
    font-size: 18px;
}

header div h1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.div-header0{
    padding: 5px 50px;
}

h1 {
    font-weight: 600;
    font-size: 64px;

}

p {
    color: #676767;
}

section {
    padding: 64px 103.55px;
}

section div h3 {
    font-weight: 600;
    font-size: 32px;
}

.landing-item {
    display: flex;
    justify-content: space-between;
}

.landing-item div img {
    height: 250px;
    width: 100%;
}

.btn-landing {
    margin: 20px 0px;
    display: flex;
    gap: 10px;
}

.btn-contact {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 10px;
    color: white;
    background: linear-gradient(45deg, #8F6FF1, #65B2FF);
    border: 2px solid rgb(101, 74, 208);
    border-radius: 50px;
    cursor: pointer;
    background-clip: border-box;
    -webkit-text-fill-color: white;
    transition: background 0.5s ease-in-out, 
                border 0.5s ease-in-out,
                color 0.5s ease-in-out,
                -webkit-text-fill-color 0.5s ease-in-out,
                box-shadow 0.3s ease;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
}

.btn-contact:hover {
    background: linear-gradient(45deg, #8F6FF1, #65B2FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgb(178, 161, 247);
    box-shadow: 0 0 15px rgb(116, 115, 215);
}

.btn-info {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 10px;
    color: rgb(136, 136, 136);
    border: 2px solid rgb(101, 74, 208);
    border-radius: 50px;
    cursor: pointer;
    background: white;
    transition: background 0.5s ease-in-out,
                border 0.5s ease-in-out,
                color 0.5s ease-in-out,
                -webkit-text-fill-color 0.5s ease-in-out,
                box-shadow 0.3s ease;
}

.btn-info:hover {
    background: linear-gradient(45deg, #8F6FF1, #65B2FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgb(178, 161, 247);
    box-shadow: 0 0 15px rgb(116, 115, 215);
}

.a-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    text-decoration: none;
}

.a-info div {
    background: linear-gradient(45deg, #8F6FF1, #65B2FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a-info div:hover {
    background: linear-gradient(45deg, #4000ff, #0080ffb6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#arrow {
    width: 35px;
    margin-top: 20px;
    animation: 2s upDown infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(7px);
  }
  
  100% {
    transform: translateY(0);
  }
}